$color-primary-blue : #0098E1 ;
$color-primary-blue-hover : #02B1FF ;
$color-primary-blue-active : #1875D1 ;
$color-success: #16C294 ;        //成功颜色
$color-error: #f68f70  ;          //错误颜色
$color-warning: #f7b370 ;           //警告颜色
$color-warning-hover: #ff9f22 ;
$color-warning-active: #f19720 ;
$color-disable : #ddd  ;            //不能操作
$color-icon: #ccc  ;             //箭头颜色
$color-white: #fff;
$font-primary-color : #333;   //字体颜色
$font-primary-size :  12px;
$font-default-color: #283448; //文字颜色
$font-tips-color: #848ea1; //提示性文字颜色
$font-describe-color: #b3b3b3; //说明性文字颜色
$border-default-color: #e5e5e5; //边框默认颜色
$head-start-bgcolor: #66c1ed; // 头部渐变背景开始颜色
$head-end-bgcolor: #66a7eb; // 头部渐变背景开始颜色
$box-shadow: #e6e6e6;
$form-label-color: #657180
