body,html{
  margin: 0;
  padding: 0;
  height: 100%;
  width: 100%;
  color: #323e5d;
  background-color: #f9f9f9;
}

a{
  color: #323e5d;
  text-decoration: none;
}

.scrollbar {
  overflow-y: auto;
}

.scrollbar:hover::-webkit-scrollbar-thumb {
  background: #70bdf7;
}

.scrollbar::-webkit-scrollbar {
  width: 4px;
  height: 4px;
}

.scrollbar::-webkit-scrollbar-track {
  background: rgba(255, 255, 255, 0);
  border-radius: 2px;
  margin: 4px 0;
}

.scrollbar::-webkit-scrollbar-thumb {
  background: rgba(255, 255, 255, 0);
  border-radius: 2px;
}
